<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="user-profile">
                  <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <svg class="bi bi-person-circle" width="2.5em" height="2.5em" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg" alt="Usuario">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                      </svg>
                    <span class="hide-menu">{{nombre}} </span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a routerLinkActive="active" routerLink="/account-settings">Cambiar Tema</a></li>
                      <li><a routerLinkActive="active" (click)="usuarioService.logout()" class="pointer">Logout</a></li>
                  </ul>
              </li>
              <li class="nav-devider"></li>
              <li *ngFor="let menu of sidebar.menu"> 
                  
                <a class="has-arrow waves-effect waves-dark"aria-expanded="false">
                    <i [class]="menu.icono"></i>
                    <span class="hide-menu">
                        {{menu.titulo}}
                        <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}
                        </span>
                    </span>
                </a>
                  <ul aria-expanded="false" class="collapse">
                      <li *ngFor="let submenu of menu.submenu" >
                          <a routerLinkActive="active" [routerLink]="[submenu.url]">{{submenu.titulo}} </a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
     