<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title " style="text-align: center">
        {{ graficos.grafico1.leyenda }}
        </h4>
        <!-- ========== Grafico 1========== -->
        <app-grafico-dona
          [doughnutChartLabels]="graficos.grafico1.labels"
          [doughnutChartData]="graficos.grafico1.data"
          doughnutChartType="doughnut"
        >
        </app-grafico-dona>
        <!-- ========== Fin Grafico ========== -->
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title " style="text-align: center">
            {{ graficos.grafico2.leyenda }}
            </h4>
            <!-- ========== Grafico 2========== -->
            <app-grafico-dona
              [doughnutChartLabels]="graficos.grafico2.labels"
              [doughnutChartData]="graficos.grafico2.data"
              doughnutChartType="doughnut"
            >
            </app-grafico-dona>
            <!-- ========== Fin Grafico ========== -->
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title " style="text-align: center">
          {{ graficos.grafico3.leyenda }}
          </h4>
          <!-- ========== Grafico 3========== -->
          <app-grafico-dona
            [doughnutChartLabels]="graficos.grafico3.labels"
            [doughnutChartData]="graficos.grafico3.data"
            doughnutChartType="doughnut"
          >
          </app-grafico-dona>
          <!-- ========== Fin Grafico ========== -->
        </div>
      </div>
    </div>
  
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title " style="text-align: center">
              {{ graficos.grafico4.leyenda }}
              </h4>
              <!-- ========== Grafico 4 ========== -->
              <app-grafico-dona
                [doughnutChartLabels]="graficos.grafico4.labels"
                [doughnutChartData]="graficos.grafico4.data"
                doughnutChartType="doughnut"
              >
              </app-grafico-dona>
              <!-- ========== Fin Grafico ========== -->
        </div>
      </div>
    </div>
  </div>
  