<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button routerLink="/expedientes" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Buscar Expediente
          </button>
        </div>

        <h3 class="card-title">
          Hola <b>{{usuarioService.usuario.nombre}}</b>, Bienvenido(a) al sistema de préstamos <b>SiPres</b>
        </h3>

        
      </div>
    </div>
  </div>
</div>
